nodred/flow_chatbot.txt
[{"id":"948b4a11.b55dd8","type":"telegram receiver","z":"16276796.4f2bd8","name":"","bot":"4272cde1.423eb4","saveDataDir":"","x":102.5714340209961,"y":516.8526821136475,"wires":[["4de843d3.15a4cc"],[]]},{"id":"d1cf9707.82b468","type":"telegram sender","z":"16276796.4f2bd8","name":"","bot":"4272cde1.423eb4","x":2034.5873184204102,"y":506.49080657958984,"wires":[[]]},{"id":"28ee105f.a7d8b","type":"watson-conversation-v1","z":"16276796.4f2bd8","name":"","workspaceid":"b856a3eb-8df2-4112-a997-535e051f80ec","multiuser":false,"context":true,"default-endpoint":false,"service-endpoint":"","x":1074.1906356811523,"y":492.8711528778076,"wires":[["754c14c4.2e087c"]]},{"id":"d0c740ef.49c58","type":"function","z":"16276796.4f2bd8","name":"conv to tel","func":"msg.payload = {\n  chatId : msg.chatId,\n  type : \"voice\",\n  content : msg.speech};\nreturn msg;","outputs":1,"noerr":0,"x":1789.9922523498535,"y":633.0139966011047,"wires":[["d1cf9707.82b468"]]},{"id":"dceeacdc.8034d","type":"watson-text-to-speech","z":"16276796.4f2bd8","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelVoice","voicehidden":"en-US_MichaelVoice","format":"audio/ogg; codecs=opus","password":"DL51ULDoffHF","payload-response":false,"default-endpoint":false,"service-endpoint":"","x":1653.0409240722656,"y":718.6112153530121,"wires":[["d0c740ef.49c58"]]},{"id":"c6f63f81.a1cf","type":"function","z":"16276796.4f2bd8","name":"conv to tts","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":1539.4887924194336,"y":633.5105686187744,"wires":[["dceeacdc.8034d"]]},{"id":"ded2a52c.f9e328","type":"watson-speech-to-text","z":"16276796.4f2bd8","name":"","continuous":true,"speakerlabels":true,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"BroadbandModel","bandhidden":"BroadbandModel","password":"egW2XYDQSp2m","payload-response":false,"default-endpoint":false,"service-endpoint":"","x":765.1191654205322,"y":732.2556972503662,"wires":[["e9ff0760.fc7178"]]},{"id":"e9ff0760.fc7178","type":"function","z":"16276796.4f2bd8","name":"stt to conv","func":"msg.payload = msg.transcription;\nreturn msg;","outputs":1,"noerr":0,"x":880.4276580810547,"y":825.4356021881104,"wires":[["28ee105f.a7d8b"]]},{"id":"1f453828.6a3a48","type":"function","z":"16276796.4f2bd8","name":"get file_id","func":"var fiurl = \"https://api.telegram.org/bot296784769:AAFfWwiLejPNNNo9HWiHikDOYYl0hr8_X6Y/getFile?file_id=\"+msg.payload.content;\nmsg.chatId = msg.payload.chatId;\nmsg.url=fiurl;\nmsg.method=\"GET\"\nmsg.payload=\"\";\nmsg.type=\"voice\";\nreturn msg;","outputs":1,"noerr":0,"x":749.5601444244385,"y":506.57851123809814,"wires":[["ab85a817.89ccf8"]]},{"id":"9e4a43a8.cfbf1","type":"function","z":"16276796.4f2bd8","name":"get file_path","func":"msg.payload=\"https://api.telegram.org/file/bot296784769:AAFfWwiLejPNNNo9HWiHikDOYYl0hr8_X6Y/\"+msg.payload.result.file_path;\nreturn msg;","outputs":1,"noerr":0,"x":758.1816482543945,"y":659.3074073791504,"wires":[["ded2a52c.f9e328"]]},{"id":"ab85a817.89ccf8","type":"http request","z":"16276796.4f2bd8","name":"","method":"use","ret":"obj","url":"","tls":"","x":755.1192646026611,"y":580.9466133117676,"wires":[["9e4a43a8.cfbf1"]]},{"id":"9ed4cb22.cab068","type":"function","z":"16276796.4f2bd8","name":"tel to conv","func":"msg.chatId=msg.payload.chatId;\nmsg.payload=msg.payload.content;\nmsg.type=\"message\";\nreturn msg;","outputs":1,"noerr":0,"x":847.570556640625,"y":324.01043701171875,"wires":[["28ee105f.a7d8b"]]},{"id":"4de843d3.15a4cc","type":"switch","z":"16276796.4f2bd8","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"message","vt":"str"},{"t":"eq","v":"voice","vt":"str"},{"t":"eq","v":"photo","vt":"str"}],"checkall":"true","outputs":3,"x":290.5635299682617,"y":508.57833099365234,"wires":[["d9c57330.a3b79"],["125f2144.9f411f"],["87735da9.e6328"]]},{"id":"a45939e9.d52818","type":"function","z":"16276796.4f2bd8","name":"conv to tel for text","func":"msg.payload = {\n  chatId : msg.chatId,\n  type : \"message\",\n  content : msg.payload.output.text[0]};\nreturn msg;","outputs":1,"noerr":0,"x":1686.7423095703125,"y":428.82147216796875,"wires":[["d1cf9707.82b468"]]},{"id":"1ca6e67f.0d5f1a","type":"switch","z":"16276796.4f2bd8","name":"","property":"type","propertyType":"msg","rules":[{"t":"eq","v":"slack","vt":"str"},{"t":"eq","v":"message","vt":"str"},{"t":"eq","v":"voice","vt":"str"}],"checkall":"true","outputs":3,"x":1356.70316696167,"y":496.8573188781738,"wires":[["624af71c.5b9e18"],["a45939e9.d52818"],["c6f63f81.a1cf"]]},{"id":"aaa4bbd8.e0d768","type":"ui_switch","z":"16276796.4f2bd8","name":"","label":"ac","group":"9bf9cbcc.0eaee8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1920.682918548584,"y":1132.9209289550781,"wires":[[]]},{"id":"1dcae4c5.ca002b","type":"ui_switch","z":"16276796.4f2bd8","name":"","label":"curtain","group":"9bf9cbcc.0eaee8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1922.682918548584,"y":1069.9209251403809,"wires":[[]]},{"id":"57b08bba.614314","type":"ui_switch","z":"16276796.4f2bd8","name":"","label":"door","group":"9bf9cbcc.0eaee8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1924.6830024719238,"y":1011.9209213256836,"wires":[[]]},{"id":"9261fa02.ea96e8","type":"function","z":"16276796.4f2bd8","name":"toggle light","func":"if(msg.payload.context.light === \"0\")\n{\n    msg.payload=true;\n}else if(msg.payload.context.light === \"1\"){\n    msg.payload=false;\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1769.182991027832,"y":951.9209575653076,"wires":[["e670c546.0c5458"]]},{"id":"4e0c9686.2b7a98","type":"switch","z":"16276796.4f2bd8","name":"","property":"payload.intents[0].intent","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","outputs":2,"x":1393.404899597168,"y":1037.920789718628,"wires":[["bd6b758e.e4b158"],["bd6b758e.e4b158"]]},{"id":"bd6b758e.e4b158","type":"switch","z":"16276796.4f2bd8","name":"","property":"payload.entities[0].entity","propertyType":"msg","rules":[{"t":"eq","v":"light","vt":"str"},{"t":"eq","v":"door","vt":"str"},{"t":"eq","v":"curtain","vt":"str"},{"t":"eq","v":"ac","vt":"str"}],"checkall":"true","outputs":4,"x":1531.849407196045,"y":1035.9208812713623,"wires":[["9261fa02.ea96e8"],["2584611d.93fa6e"],["55fd1dd2.45abe4"],["b3b6058b.09c608"]]},{"id":"2584611d.93fa6e","type":"function","z":"16276796.4f2bd8","name":"toggle doors","func":"if(msg.payload.context.door === \"0\")\n{\n    msg.payload=true;\n}else if(msg.payload.context.door === \"1\"){\n    msg.payload=false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1770.182746887207,"y":1010.9207992553711,"wires":[["57b08bba.614314"]]},{"id":"55fd1dd2.45abe4","type":"function","z":"16276796.4f2bd8","name":"toggle curtains","func":"if(msg.payload.context.curtain === \"0\")\n{\n    msg.payload=true;\n}else if(msg.payload.curtain === \"1\"){\n    msg.payload=false;\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1780.6829109191895,"y":1070.920883178711,"wires":[["1dcae4c5.ca002b"]]},{"id":"b3b6058b.09c608","type":"function","z":"16276796.4f2bd8","name":"toggle ac","func":"if(msg.payload.context.ac === \"0\")\n{\n    msg.payload=true;\n}else if(msg.payload.context.ac === \"1\"){\n    msg.payload=false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1762.6827449798584,"y":1131.9208054542542,"wires":[["aaa4bbd8.e0d768"]]},{"id":"c73983e7.700b1","type":"comment","z":"16276796.4f2bd8","name":"iot home control","info":"","x":1561.778221130371,"y":903.4607067108154,"wires":[]},{"id":"7c37eab7.af3444","type":"comment","z":"16276796.4f2bd8","name":"speech to text convertion","info":"","x":696.5635986328125,"y":451.1429023742676,"wires":[]},{"id":"ec3e3248.67ae8","type":"comment","z":"16276796.4f2bd8","name":" text to speech convertion","info":"","x":1639.5951232910156,"y":587.0318689346313,"wires":[]},{"id":"33bdfbec.ce6f94","type":"comment","z":"16276796.4f2bd8","name":"conversation dialog control","info":"","x":1106.785987854004,"y":429.65879487991333,"wires":[]},{"id":"1b4bf811.212518","type":"visual-recognition-v3","z":"16276796.4f2bd8","name":"","apikey":"a51682be242221b2be10f42bffae26218a4c5b34","image-feature":"detectFaces","lang":"en","x":777.285831451416,"y":1165.1431322097778,"wires":[["cb191b7e.0780f8"]]},{"id":"e1c2e7ae.d395d8","type":"function","z":"16276796.4f2bd8","name":"get file_id","func":"var fiurl = \"https://api.telegram.org/bot296784769:AAFfWwiLejPNNNo9HWiHikDOYYl0hr8_X6Y/getFile?file_id=\"+msg.originalMessage.photo[2].file_id;\nmsg.chatId = msg.payload.chatId;\nmsg.url=fiurl;\nmsg.method=\"GET\"\nmsg.payload=\"\";\nmsg.type=\"photo\";\nreturn msg;","outputs":1,"noerr":0,"x":742.7143783569336,"y":962.8572311401367,"wires":[["aaef3479.c15c88"]]},{"id":"411d1f1c.56a06","type":"function","z":"16276796.4f2bd8","name":"get file_path","func":"msg.url=\"https://api.telegram.org/file/bot296784769:AAFfWwiLejPNNNo9HWiHikDOYYl0hr8_X6Y/\"+msg.payload.result.file_path;\nreturn msg;","outputs":1,"noerr":0,"x":756.4787826538086,"y":1054.0147075653076,"wires":[["a9b49807.e90548"]]},{"id":"aaef3479.c15c88","type":"http request","z":"16276796.4f2bd8","name":"","method":"use","ret":"obj","url":"","tls":"","x":754.8449115753174,"y":1008.6539459228516,"wires":[["411d1f1c.56a06"]]},{"id":"a9b49807.e90548","type":"http request","z":"16276796.4f2bd8","name":"","method":"use","ret":"bin","url":"","tls":"","x":760.0248794555664,"y":1105.7292432785034,"wires":[["1b4bf811.212518"]]},{"id":"ffc7ff5b.7cd5d","type":"link in","z":"16276796.4f2bd8","name":"","links":["cb191b7e.0780f8","6ba90471.b741ac"],"x":1550.476372718811,"y":503.5169048309326,"wires":[["5b03fd98.cd0774"]]},{"id":"cb191b7e.0780f8","type":"link out","z":"16276796.4f2bd8","name":"","links":["ffc7ff5b.7cd5d","808f25cb.0d4298"],"x":897.2570362091064,"y":1169.826497077942,"wires":[]},{"id":"5b03fd98.cd0774","type":"function","z":"16276796.4f2bd8","name":"conv to tel for visual_recog","func":"msg.payload = {\n  chatId : msg.chatId,\n  type : \"message\",\n  content : \"Gender:\"+msg.result.images[0].faces[0].gender.gender+\"(\"+(msg.result.images[0].faces[0].gender.score*100).toFixed(2)+\"% sure)\\nAge:\"+msg.result.images[0].faces[0].age.min+\"-\"+msg.result.images[0].faces[0].age.max+\"(\"+(msg.result.images[0].faces[0].age.score*100).toFixed(2)+\"% sure)\\n\"};\nreturn msg;","outputs":1,"noerr":0,"x":1713.8380508422852,"y":503.58634757995605,"wires":[["d1cf9707.82b468"]]},{"id":"d9c57330.a3b79","type":"link out","z":"16276796.4f2bd8","name":"","links":["abc29887.5c0a88"],"x":416.30955266952515,"y":459.4286079406738,"wires":[]},{"id":"125f2144.9f411f","type":"link out","z":"16276796.4f2bd8","name":"","links":["787c9a5d.8434d4"],"x":416.30955266952515,"y":507.42862033843994,"wires":[]},{"id":"87735da9.e6328","type":"link out","z":"16276796.4f2bd8","name":"","links":["dad432c.e768ed"],"x":416.3095531463623,"y":554.4286332130432,"wires":[]},{"id":"dad432c.e768ed","type":"link in","z":"16276796.4f2bd8","name":"","links":["87735da9.e6328"],"x":584.7381706237793,"y":962.0952796936035,"wires":[["e1c2e7ae.d395d8"]]},{"id":"787c9a5d.8434d4","type":"link in","z":"16276796.4f2bd8","name":"","links":["125f2144.9f411f"],"x":594.5715084075928,"y":507.47619342803955,"wires":[["1f453828.6a3a48"]]},{"id":"abc29887.5c0a88","type":"link in","z":"16276796.4f2bd8","name":"","links":["d9c57330.a3b79"],"x":593.1429843902588,"y":321.99999713897705,"wires":[["9ed4cb22.cab068"]]},{"id":"754c14c4.2e087c","type":"link out","z":"16276796.4f2bd8","name":"","links":["49048611.08a878","a24286bd.61e578"],"x":1174.8095703125,"y":492.38104248046875,"wires":[]},{"id":"fa5701c0.0cf4b","type":"comment","z":"16276796.4f2bd8","name":"Visual Recoginition","info":"","x":745.2859115600586,"y":895.714282989502,"wires":[]},{"id":"e670c546.0c5458","type":"ui_switch","z":"16276796.4f2bd8","name":"","label":"lights","group":"9bf9cbcc.0eaee8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1927.8495063781738,"y":950.254168510437,"wires":[[]]},{"id":"135b6177.b3931f","type":"comment","z":"16276796.4f2bd8","name":"Telegram Receiver","info":"","x":217.27271270751953,"y":429.06060314178467,"wires":[]},{"id":"a7b10db.56480f","type":"Slack Bot In","z":"16276796.4f2bd8","name":"slack in","apiToken":"xoxb-249548597380-OIIw3jFBhBoHsyX6kSLX7hQh","channel":"","x":62.06944274902344,"y":207.4757537841797,"wires":[["6413c245.5276ac"]]},{"id":"bd441aa5.0df9c8","type":"Slack Bot Out","z":"16276796.4f2bd8","name":"slack out","apiToken":"xoxb-249548597380-OIIw3jFBhBoHsyX6kSLX7hQh","channel":"","x":2044.5693397521973,"y":203.43410976231098,"wires":[]},{"id":"624af71c.5b9e18","type":"function","z":"16276796.4f2bd8","name":"conv to slack","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":1557.5174312591553,"y":200.2882056236267,"wires":[["bd441aa5.0df9c8"]]},{"id":"6413c245.5276ac","type":"link out","z":"16276796.4f2bd8","name":"","links":["f32fc3db.e91db","32365c4e.14b474"],"x":160.18231201171875,"y":208.2135467529297,"wires":[]},{"id":"a24286bd.61e578","type":"link in","z":"16276796.4f2bd8","name":"","links":["754c14c4.2e087c"],"x":1280.2382335662842,"y":1039.190725326538,"wires":[["4e0c9686.2b7a98"]]},{"id":"49048611.08a878","type":"link in","z":"16276796.4f2bd8","name":"","links":["754c14c4.2e087c"],"x":1278.5715770721436,"y":495.71432399749756,"wires":[["1ca6e67f.0d5f1a"]]},{"id":"570ddd9a.635974","type":"function","z":"16276796.4f2bd8","name":"slack to conv","func":"msg.type=\"slack\";\nreturn msg;","outputs":1,"noerr":0,"x":894.9999923706055,"y":203.33332586288452,"wires":[["28ee105f.a7d8b"]]},{"id":"32365c4e.14b474","type":"link in","z":"16276796.4f2bd8","name":"","links":["6413c245.5276ac"],"x":595.0000085830688,"y":205.00000286102295,"wires":[["570ddd9a.635974"]]},{"id":"4272cde1.423eb4","type":"telegram bot","z":"","botname":"angehlotbot","usernames":"","chatids":""},{"id":"9bf9cbcc.0eaee8","type":"ui_group","z":"","name":"home control","tab":"1f48a807.8c6528","disp":true,"width":"6"},{"id":"1f48a807.8c6528","type":"ui_tab","z":"","name":"home ","icon":"dashboard"}]