nodred/import_sample.txt
[{"id":"392be441.ecc12c","type":"http in","z":"9ac42d9d.479cf","name":"","url":"/helloworld","method":"get","upload":false,"swaggerDoc":"","x":722.5000076293945,"y":467.5000066757202,"wires":[["238921d3.cfccce"]]},{"id":"3fba09ed.7d7d56","type":"http response","z":"9ac42d9d.479cf","name":"","statusCode":"","headers":{},"x":1240.000015258789,"y":465.0000066757202,"wires":[]},{"id":"238921d3.cfccce","type":"template","z":"9ac42d9d.479cf","name":"html page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<head>\n    <title>hello, world!</title>\n<style>\n    body{\n  background: #272822;\n}\n\n.include{\n  color: #F92672;\n}\n\n.include2{\n  color: #F92672;\n}\n\n.text{\n  color: #fff;\n}\n\np{\n  display: inline;\n}\n\n.int{\n  color: #66D9EF;\n}\n\n.main{\n  color: #A6E22A;\n}\n\n.text2{\n  color: #E6DB74;\n}\n\n.div{\n  margin-top: 7%;\n  margin-right: auto;\n  margin-left: 40%;\n}\n\n.div2{\n  margin-left: 30px;\n}\n\n.input-line{\n  width: 1px;\n  heigth: 5px;\n  color: fff;\n}\n\nhr{\n  background-color: #fff;\n  color: #fff;\n  width: 0.5px;\n  height: 15px;\n  margin-left: 8px;\n  margin-top: -17px;\n  -webkit-animation: display 1s linear infinite;\n}\n\n@-webkit-keyframes display{\n  50%{opacity: 0;}\n}\n</style>\n</head>\n<body>\n<div class=\"div\">\n    <p class=\"text\">#</p><p class=\"include\">include</p><p class=\"text2\"> &lt;iostream&gt;</p><br>\n    <p class=\"include2\">using</p><p class=\"text\"> namespace std;</p><br>\n  <p class=\"int\">int</p><p class=\"main\"> main</p><p class=\"text\">( )</p><br>\n  <p class=\"text\">{</p><br><div class=\"div2\"><p class=\"text\"> cout <<</p><p class=\"text2\"> \"Hello, world!\"</p><p class=\"text\"> << endl;</p></div><p class=\"text\">}</p><hr>\n  </div>\n</body>\n</html>","output":"str","x":960.0000114440918,"y":467.5000066757202,"wires":[["3fba09ed.7d7d56"]]}]